.page {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.page-enter {
    transform: translateX(-100vw);
}

.page-enter-active {
    transform: translateX(0);
}

.page-exit {
    transform: translateY(0);
}

.page-exit-active {
    transform: translateY(-100vh);
}
